<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head">
        
    <!--Import Google Icon Font-->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>
  
  	<!--Let browser know website is optimized for mobile-->  	
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	
    <title th:inline="text">Finomyr | [[${pageTitle}]] </title>
  
    	
    <!-- Custom Adjustments CSS  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/finomyr-adjustments.css}" />
</head>

<body>
	<div th:fragment="scripts">
		<script type="application/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
      	<script type="application/javascript" th:src="@{/js/materialize.js}"></script>
		
		<!--  Finomyr JS -->
		<!-- <script th:src="@{/resources/js/common/finomyr.js}"></script> -->
	</div>
</body>
</html>